/*** sass functions includes extends ***/
/*** end ***/
/*** sass variables ***/
/*** end ***/
/* line 123, layout.scss */
::-moz-selection {
  background-color: #FFA;
  color: #000;
}

/* line 128, layout.scss */
::selection {
  background-color: #FFA;
  color: #000;
}

/* line 133, layout.scss */
a[href], input[type='submit'], input[type='button'], input[type='reset'], input[type='image'], label[for], select, button, .pointer {
  outline: none !important;
}

/* line 138, layout.scss */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

/* line 143, layout.scss */
::-webkit-scrollbar-track-piece {
  background-color: white;
}

/* line 147, layout.scss */
::-webkit-scrollbar-thumb {
  background-color: #b2b2b2;
}

/* line 151, layout.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
  border: #444 thin solid;
}

/* line 179, layout.scss */
.inline-block, .inline-block-child > *, header .nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 191, layout.scss */
html, html body, header, header .nav ul li {
  position: relative;
}

/* line 195, layout.scss */
header .nav .brand-logo, header .nav ul, header .nav ul li:not(:last-of-type):after, .warpper {
  position: absolute;
}

/* line 199, layout.scss */
a[href], input[type='submit'], input[type='button'], input[type='reset'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

/* line 219, layout.scss */
h1, h2, h3 {
  font-weight: 300;
}

/* line 227, layout.scss */
html, header .nav, .warpper {
  width: 100%;
}

/* line 231, layout.scss */
.full-height, .ui-mobile [data-role=page], html, .warpper {
  height: 100%;
}

/* line 273, layout.scss */
header .nav .brand-logo {
  font-family: 'Roboto Condensed';
}

@-webkit-keyframes rotate {
  /* line 285, layout.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 286, layout.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 285, layout.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 286, layout.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  /* line 285, layout.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 286, layout.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  /* line 285, layout.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 286, layout.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  /* line 285, layout.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 286, layout.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes fontfix {
  /* line 290, layout.scss */
  from {
    opacity: 1;
  }

  /* line 291, layout.scss */
  to {
    opacity: 1;
  }
}

/* line 294, layout.scss */
html {
  overflow: auto;
}
/* line 299, layout.scss */
html, html body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: white;
  @extends %user-select-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

/* line 316, layout.scss */
[contenteditable='true'] {
  outline: none;
}

/* line 320, layout.scss */
.highlight {
  color: #DB5B51;
}

/* line 324, layout.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 328, layout.scss */
a {
  text-decoration: none !important;
}

/* line 332, layout.scss */
.ng-hide-add, .ng-hide-remove {
  display: block !important;
}

/* line 336, layout.scss */
ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #1EB4AC;
  color: #fff!important;
}

/* line 341, layout.scss */
.css-fade {
  transition: 0.5s ease-in-out all;
  opacity: 1;
}

/* line 345, layout.scss */
.css-fade.ng-hide {
  opacity: 0;
}

/* line 349, layout.scss */
.lower-case {
  text-transform: lowercase;
}

/* line 353, layout.scss */
input, select {
  box-shadow: none;
}

@-webkit-keyframes logo-color {
  /* line 359, layout.scss */
  0% {
    background-color: #b9383c;
  }

  /* line 359, layout.scss */
  5.88235% {
    background-color: #ae215f;
  }

  /* line 359, layout.scss */
  11.76471% {
    background-color: #541c77;
  }

  /* line 359, layout.scss */
  17.64706% {
    background-color: #462d91;
  }

  /* line 359, layout.scss */
  23.52941% {
    background-color: #3c468e;
  }

  /* line 359, layout.scss */
  29.41176% {
    background-color: #276990;
  }

  /* line 359, layout.scss */
  35.29412% {
    background-color: #00838f;
  }

  /* line 359, layout.scss */
  41.17647% {
    background-color: #247369;
  }

  /* line 359, layout.scss */
  47.05882% {
    background-color: #3e9a3a;
  }

  /* line 359, layout.scss */
  52.94118% {
    background-color: #92b440;
  }

  /* line 359, layout.scss */
  58.82353% {
    background-color: #bbba24;
  }

  /* line 359, layout.scss */
  64.70588% {
    background-color: #f8bc28;
  }

  /* line 359, layout.scss */
  70.58824% {
    background-color: #ff8f00;
  }

  /* line 359, layout.scss */
  76.47059% {
    background-color: #ef6c00;
  }

  /* line 359, layout.scss */
  82.35294% {
    background-color: #d84315;
  }

  /* line 359, layout.scss */
  88.23529% {
    background-color: #4e342e;
  }

  /* line 359, layout.scss */
  94.11765% {
    background-color: #414040;
  }

  /* line 359, layout.scss */
  100.0% {
    background-color: #37474f;
  }
}

@-moz-keyframes logo-color {
  /* line 359, layout.scss */
  0% {
    background-color: #b9383c;
  }

  /* line 359, layout.scss */
  5.88235% {
    background-color: #ae215f;
  }

  /* line 359, layout.scss */
  11.76471% {
    background-color: #541c77;
  }

  /* line 359, layout.scss */
  17.64706% {
    background-color: #462d91;
  }

  /* line 359, layout.scss */
  23.52941% {
    background-color: #3c468e;
  }

  /* line 359, layout.scss */
  29.41176% {
    background-color: #276990;
  }

  /* line 359, layout.scss */
  35.29412% {
    background-color: #00838f;
  }

  /* line 359, layout.scss */
  41.17647% {
    background-color: #247369;
  }

  /* line 359, layout.scss */
  47.05882% {
    background-color: #3e9a3a;
  }

  /* line 359, layout.scss */
  52.94118% {
    background-color: #92b440;
  }

  /* line 359, layout.scss */
  58.82353% {
    background-color: #bbba24;
  }

  /* line 359, layout.scss */
  64.70588% {
    background-color: #f8bc28;
  }

  /* line 359, layout.scss */
  70.58824% {
    background-color: #ff8f00;
  }

  /* line 359, layout.scss */
  76.47059% {
    background-color: #ef6c00;
  }

  /* line 359, layout.scss */
  82.35294% {
    background-color: #d84315;
  }

  /* line 359, layout.scss */
  88.23529% {
    background-color: #4e342e;
  }

  /* line 359, layout.scss */
  94.11765% {
    background-color: #414040;
  }

  /* line 359, layout.scss */
  100.0% {
    background-color: #37474f;
  }
}

@-ms-keyframes logo-color {
  /* line 359, layout.scss */
  0% {
    background-color: #b9383c;
  }

  /* line 359, layout.scss */
  5.88235% {
    background-color: #ae215f;
  }

  /* line 359, layout.scss */
  11.76471% {
    background-color: #541c77;
  }

  /* line 359, layout.scss */
  17.64706% {
    background-color: #462d91;
  }

  /* line 359, layout.scss */
  23.52941% {
    background-color: #3c468e;
  }

  /* line 359, layout.scss */
  29.41176% {
    background-color: #276990;
  }

  /* line 359, layout.scss */
  35.29412% {
    background-color: #00838f;
  }

  /* line 359, layout.scss */
  41.17647% {
    background-color: #247369;
  }

  /* line 359, layout.scss */
  47.05882% {
    background-color: #3e9a3a;
  }

  /* line 359, layout.scss */
  52.94118% {
    background-color: #92b440;
  }

  /* line 359, layout.scss */
  58.82353% {
    background-color: #bbba24;
  }

  /* line 359, layout.scss */
  64.70588% {
    background-color: #f8bc28;
  }

  /* line 359, layout.scss */
  70.58824% {
    background-color: #ff8f00;
  }

  /* line 359, layout.scss */
  76.47059% {
    background-color: #ef6c00;
  }

  /* line 359, layout.scss */
  82.35294% {
    background-color: #d84315;
  }

  /* line 359, layout.scss */
  88.23529% {
    background-color: #4e342e;
  }

  /* line 359, layout.scss */
  94.11765% {
    background-color: #414040;
  }

  /* line 359, layout.scss */
  100.0% {
    background-color: #37474f;
  }
}

@-o-keyframes logo-color {
  /* line 359, layout.scss */
  0% {
    background-color: #b9383c;
  }

  /* line 359, layout.scss */
  5.88235% {
    background-color: #ae215f;
  }

  /* line 359, layout.scss */
  11.76471% {
    background-color: #541c77;
  }

  /* line 359, layout.scss */
  17.64706% {
    background-color: #462d91;
  }

  /* line 359, layout.scss */
  23.52941% {
    background-color: #3c468e;
  }

  /* line 359, layout.scss */
  29.41176% {
    background-color: #276990;
  }

  /* line 359, layout.scss */
  35.29412% {
    background-color: #00838f;
  }

  /* line 359, layout.scss */
  41.17647% {
    background-color: #247369;
  }

  /* line 359, layout.scss */
  47.05882% {
    background-color: #3e9a3a;
  }

  /* line 359, layout.scss */
  52.94118% {
    background-color: #92b440;
  }

  /* line 359, layout.scss */
  58.82353% {
    background-color: #bbba24;
  }

  /* line 359, layout.scss */
  64.70588% {
    background-color: #f8bc28;
  }

  /* line 359, layout.scss */
  70.58824% {
    background-color: #ff8f00;
  }

  /* line 359, layout.scss */
  76.47059% {
    background-color: #ef6c00;
  }

  /* line 359, layout.scss */
  82.35294% {
    background-color: #d84315;
  }

  /* line 359, layout.scss */
  88.23529% {
    background-color: #4e342e;
  }

  /* line 359, layout.scss */
  94.11765% {
    background-color: #414040;
  }

  /* line 359, layout.scss */
  100.0% {
    background-color: #37474f;
  }
}

@keyframes logo-color {
  /* line 359, layout.scss */
  0% {
    background-color: #b9383c;
  }

  /* line 359, layout.scss */
  5.88235% {
    background-color: #ae215f;
  }

  /* line 359, layout.scss */
  11.76471% {
    background-color: #541c77;
  }

  /* line 359, layout.scss */
  17.64706% {
    background-color: #462d91;
  }

  /* line 359, layout.scss */
  23.52941% {
    background-color: #3c468e;
  }

  /* line 359, layout.scss */
  29.41176% {
    background-color: #276990;
  }

  /* line 359, layout.scss */
  35.29412% {
    background-color: #00838f;
  }

  /* line 359, layout.scss */
  41.17647% {
    background-color: #247369;
  }

  /* line 359, layout.scss */
  47.05882% {
    background-color: #3e9a3a;
  }

  /* line 359, layout.scss */
  52.94118% {
    background-color: #92b440;
  }

  /* line 359, layout.scss */
  58.82353% {
    background-color: #bbba24;
  }

  /* line 359, layout.scss */
  64.70588% {
    background-color: #f8bc28;
  }

  /* line 359, layout.scss */
  70.58824% {
    background-color: #ff8f00;
  }

  /* line 359, layout.scss */
  76.47059% {
    background-color: #ef6c00;
  }

  /* line 359, layout.scss */
  82.35294% {
    background-color: #d84315;
  }

  /* line 359, layout.scss */
  88.23529% {
    background-color: #4e342e;
  }

  /* line 359, layout.scss */
  94.11765% {
    background-color: #414040;
  }

  /* line 359, layout.scss */
  100.0% {
    background-color: #37474f;
  }
}

@-webkit-keyframes nav-color {
  /* line 359, layout.scss */
  0% {
    color: #b9383c;
  }

  /* line 359, layout.scss */
  5.88235% {
    color: #ae215f;
  }

  /* line 359, layout.scss */
  11.76471% {
    color: #541c77;
  }

  /* line 359, layout.scss */
  17.64706% {
    color: #462d91;
  }

  /* line 359, layout.scss */
  23.52941% {
    color: #3c468e;
  }

  /* line 359, layout.scss */
  29.41176% {
    color: #276990;
  }

  /* line 359, layout.scss */
  35.29412% {
    color: #00838f;
  }

  /* line 359, layout.scss */
  41.17647% {
    color: #247369;
  }

  /* line 359, layout.scss */
  47.05882% {
    color: #3e9a3a;
  }

  /* line 359, layout.scss */
  52.94118% {
    color: #92b440;
  }

  /* line 359, layout.scss */
  58.82353% {
    color: #bbba24;
  }

  /* line 359, layout.scss */
  64.70588% {
    color: #f8bc28;
  }

  /* line 359, layout.scss */
  70.58824% {
    color: #ff8f00;
  }

  /* line 359, layout.scss */
  76.47059% {
    color: #ef6c00;
  }

  /* line 359, layout.scss */
  82.35294% {
    color: #d84315;
  }

  /* line 359, layout.scss */
  88.23529% {
    color: #4e342e;
  }

  /* line 359, layout.scss */
  94.11765% {
    color: #414040;
  }

  /* line 359, layout.scss */
  100.0% {
    color: #37474f;
  }
}

@-moz-keyframes nav-color {
  /* line 359, layout.scss */
  0% {
    color: #b9383c;
  }

  /* line 359, layout.scss */
  5.88235% {
    color: #ae215f;
  }

  /* line 359, layout.scss */
  11.76471% {
    color: #541c77;
  }

  /* line 359, layout.scss */
  17.64706% {
    color: #462d91;
  }

  /* line 359, layout.scss */
  23.52941% {
    color: #3c468e;
  }

  /* line 359, layout.scss */
  29.41176% {
    color: #276990;
  }

  /* line 359, layout.scss */
  35.29412% {
    color: #00838f;
  }

  /* line 359, layout.scss */
  41.17647% {
    color: #247369;
  }

  /* line 359, layout.scss */
  47.05882% {
    color: #3e9a3a;
  }

  /* line 359, layout.scss */
  52.94118% {
    color: #92b440;
  }

  /* line 359, layout.scss */
  58.82353% {
    color: #bbba24;
  }

  /* line 359, layout.scss */
  64.70588% {
    color: #f8bc28;
  }

  /* line 359, layout.scss */
  70.58824% {
    color: #ff8f00;
  }

  /* line 359, layout.scss */
  76.47059% {
    color: #ef6c00;
  }

  /* line 359, layout.scss */
  82.35294% {
    color: #d84315;
  }

  /* line 359, layout.scss */
  88.23529% {
    color: #4e342e;
  }

  /* line 359, layout.scss */
  94.11765% {
    color: #414040;
  }

  /* line 359, layout.scss */
  100.0% {
    color: #37474f;
  }
}

@-ms-keyframes nav-color {
  /* line 359, layout.scss */
  0% {
    color: #b9383c;
  }

  /* line 359, layout.scss */
  5.88235% {
    color: #ae215f;
  }

  /* line 359, layout.scss */
  11.76471% {
    color: #541c77;
  }

  /* line 359, layout.scss */
  17.64706% {
    color: #462d91;
  }

  /* line 359, layout.scss */
  23.52941% {
    color: #3c468e;
  }

  /* line 359, layout.scss */
  29.41176% {
    color: #276990;
  }

  /* line 359, layout.scss */
  35.29412% {
    color: #00838f;
  }

  /* line 359, layout.scss */
  41.17647% {
    color: #247369;
  }

  /* line 359, layout.scss */
  47.05882% {
    color: #3e9a3a;
  }

  /* line 359, layout.scss */
  52.94118% {
    color: #92b440;
  }

  /* line 359, layout.scss */
  58.82353% {
    color: #bbba24;
  }

  /* line 359, layout.scss */
  64.70588% {
    color: #f8bc28;
  }

  /* line 359, layout.scss */
  70.58824% {
    color: #ff8f00;
  }

  /* line 359, layout.scss */
  76.47059% {
    color: #ef6c00;
  }

  /* line 359, layout.scss */
  82.35294% {
    color: #d84315;
  }

  /* line 359, layout.scss */
  88.23529% {
    color: #4e342e;
  }

  /* line 359, layout.scss */
  94.11765% {
    color: #414040;
  }

  /* line 359, layout.scss */
  100.0% {
    color: #37474f;
  }
}

@-o-keyframes nav-color {
  /* line 359, layout.scss */
  0% {
    color: #b9383c;
  }

  /* line 359, layout.scss */
  5.88235% {
    color: #ae215f;
  }

  /* line 359, layout.scss */
  11.76471% {
    color: #541c77;
  }

  /* line 359, layout.scss */
  17.64706% {
    color: #462d91;
  }

  /* line 359, layout.scss */
  23.52941% {
    color: #3c468e;
  }

  /* line 359, layout.scss */
  29.41176% {
    color: #276990;
  }

  /* line 359, layout.scss */
  35.29412% {
    color: #00838f;
  }

  /* line 359, layout.scss */
  41.17647% {
    color: #247369;
  }

  /* line 359, layout.scss */
  47.05882% {
    color: #3e9a3a;
  }

  /* line 359, layout.scss */
  52.94118% {
    color: #92b440;
  }

  /* line 359, layout.scss */
  58.82353% {
    color: #bbba24;
  }

  /* line 359, layout.scss */
  64.70588% {
    color: #f8bc28;
  }

  /* line 359, layout.scss */
  70.58824% {
    color: #ff8f00;
  }

  /* line 359, layout.scss */
  76.47059% {
    color: #ef6c00;
  }

  /* line 359, layout.scss */
  82.35294% {
    color: #d84315;
  }

  /* line 359, layout.scss */
  88.23529% {
    color: #4e342e;
  }

  /* line 359, layout.scss */
  94.11765% {
    color: #414040;
  }

  /* line 359, layout.scss */
  100.0% {
    color: #37474f;
  }
}

@keyframes nav-color {
  /* line 359, layout.scss */
  0% {
    color: #b9383c;
  }

  /* line 359, layout.scss */
  5.88235% {
    color: #ae215f;
  }

  /* line 359, layout.scss */
  11.76471% {
    color: #541c77;
  }

  /* line 359, layout.scss */
  17.64706% {
    color: #462d91;
  }

  /* line 359, layout.scss */
  23.52941% {
    color: #3c468e;
  }

  /* line 359, layout.scss */
  29.41176% {
    color: #276990;
  }

  /* line 359, layout.scss */
  35.29412% {
    color: #00838f;
  }

  /* line 359, layout.scss */
  41.17647% {
    color: #247369;
  }

  /* line 359, layout.scss */
  47.05882% {
    color: #3e9a3a;
  }

  /* line 359, layout.scss */
  52.94118% {
    color: #92b440;
  }

  /* line 359, layout.scss */
  58.82353% {
    color: #bbba24;
  }

  /* line 359, layout.scss */
  64.70588% {
    color: #f8bc28;
  }

  /* line 359, layout.scss */
  70.58824% {
    color: #ff8f00;
  }

  /* line 359, layout.scss */
  76.47059% {
    color: #ef6c00;
  }

  /* line 359, layout.scss */
  82.35294% {
    color: #d84315;
  }

  /* line 359, layout.scss */
  88.23529% {
    color: #4e342e;
  }

  /* line 359, layout.scss */
  94.11765% {
    color: #414040;
  }

  /* line 359, layout.scss */
  100.0% {
    color: #37474f;
  }
}

/* line 374, layout.scss */
header .nav {
  box-shadow: none;
  line-height: 73px;
}
/* line 379, layout.scss */
header .nav .brand-logo, header .nav ul {
  text-transform: uppercase;
}
/* line 384, layout.scss */
header .nav .brand-logo {
  top: 10px;
  left: 70px;
  background: white url("../images/logo.png") no-repeat left;
  z-index: 1;
  width: 54px;
  height: 65px;
  background-size: contain;
  color: #383A48;
  font-size: 37px;
  font-size: 2.3125rem;
  padding-left: 60px;
}
/* line 398, layout.scss */
header .nav ul {
  top: 0px;
  right: 70px;
  margin: 0;
  padding: 0;
}
/* line 404, layout.scss */
header .nav ul li {
  font-weight: 500;
}
/* line 409, layout.scss */
header .nav ul li:not(:last-of-type):after {
  content: "";
  width: 2px;
  background: #383A48;
  height: 14px;
  top: 50%;
  margin-top: -5px;
  margin-left: 100%;
}
/* line 420, layout.scss */
header .nav ul li a {
  display: block;
  padding: 6px 20px 0 20px;
  color: #383A48;
}

/* line 430, layout.scss */
.warpper {
  padding-top: 85px;
}
/* line 437, layout.scss */
.warpper .warpper-container .brand-intro {
  background: #127AC1;
  height: 300px;
}
