/*** sass functions includes extends ***/
/*** end ***/
/*** sass variables ***/
/*** end ***/
/* line 85, layout.scss */
::-moz-selection {
  background-color: #FFA;
  color: #000;
}

/* line 90, layout.scss */
::selection {
  background-color: #FFA;
  color: #000;
}

/* line 95, layout.scss */
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
  outline: 0;
}

/* line 100, layout.scss */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

/* line 105, layout.scss */
::-webkit-scrollbar-track-piece {
  background-color: #000;
  border-left: 1px solid #333;
}

/* line 110, layout.scss */
::-webkit-scrollbar-thumb {
  background-color: #555;
  border: #333 thin solid;
  box-shadow: inset 0 0 5px 1px #333;
}

/* line 116, layout.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
  border: #444 thin solid;
  box-shadow: inset 0 0 1px 1px #666;
}

/* line 122, layout.scss */
html {
  width: 100%;
  height: 100%;
  overflow: auto;
}
/* line 127, layout.scss */
html, html body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* line 134, layout.scss */
h1, h2, h3 {
  font-family: 'Roboto';
  font-weight: 300;
}

/* line 139, layout.scss */
h4, h5, h6 {
  font-family: 'Roboto Condensed';
}

/* line 143, layout.scss */
.inline-block {
  display: inline-block;
}

/* line 147, layout.scss */
.inline-block-child > * {
  display: inline-block;
}

/* line 152, layout.scss */
.align-top {
  vertical-align: top;
}

/* line 156, layout.scss */
.align-middle {
  vertical-align: middle;
}

@-webkit-keyframes logo-color {
  /* line 162, layout.scss */
  0% {
    background-color: #b9383c;
  }

  /* line 162, layout.scss */
  5.88235% {
    background-color: #ae215f;
  }

  /* line 162, layout.scss */
  11.76471% {
    background-color: #541c77;
  }

  /* line 162, layout.scss */
  17.64706% {
    background-color: #462d91;
  }

  /* line 162, layout.scss */
  23.52941% {
    background-color: #3c468e;
  }

  /* line 162, layout.scss */
  29.41176% {
    background-color: #276990;
  }

  /* line 162, layout.scss */
  35.29412% {
    background-color: #00838f;
  }

  /* line 162, layout.scss */
  41.17647% {
    background-color: #247369;
  }

  /* line 162, layout.scss */
  47.05882% {
    background-color: #3e9a3a;
  }

  /* line 162, layout.scss */
  52.94118% {
    background-color: #92b440;
  }

  /* line 162, layout.scss */
  58.82353% {
    background-color: #bbba24;
  }

  /* line 162, layout.scss */
  64.70588% {
    background-color: #f8bc28;
  }

  /* line 162, layout.scss */
  70.58824% {
    background-color: #ff8f00;
  }

  /* line 162, layout.scss */
  76.47059% {
    background-color: #ef6c00;
  }

  /* line 162, layout.scss */
  82.35294% {
    background-color: #d84315;
  }

  /* line 162, layout.scss */
  88.23529% {
    background-color: #4e342e;
  }

  /* line 162, layout.scss */
  94.11765% {
    background-color: #414040;
  }

  /* line 162, layout.scss */
  100.0% {
    background-color: #37474f;
  }
}

@-moz-keyframes logo-color {
  /* line 162, layout.scss */
  0% {
    background-color: #b9383c;
  }

  /* line 162, layout.scss */
  5.88235% {
    background-color: #ae215f;
  }

  /* line 162, layout.scss */
  11.76471% {
    background-color: #541c77;
  }

  /* line 162, layout.scss */
  17.64706% {
    background-color: #462d91;
  }

  /* line 162, layout.scss */
  23.52941% {
    background-color: #3c468e;
  }

  /* line 162, layout.scss */
  29.41176% {
    background-color: #276990;
  }

  /* line 162, layout.scss */
  35.29412% {
    background-color: #00838f;
  }

  /* line 162, layout.scss */
  41.17647% {
    background-color: #247369;
  }

  /* line 162, layout.scss */
  47.05882% {
    background-color: #3e9a3a;
  }

  /* line 162, layout.scss */
  52.94118% {
    background-color: #92b440;
  }

  /* line 162, layout.scss */
  58.82353% {
    background-color: #bbba24;
  }

  /* line 162, layout.scss */
  64.70588% {
    background-color: #f8bc28;
  }

  /* line 162, layout.scss */
  70.58824% {
    background-color: #ff8f00;
  }

  /* line 162, layout.scss */
  76.47059% {
    background-color: #ef6c00;
  }

  /* line 162, layout.scss */
  82.35294% {
    background-color: #d84315;
  }

  /* line 162, layout.scss */
  88.23529% {
    background-color: #4e342e;
  }

  /* line 162, layout.scss */
  94.11765% {
    background-color: #414040;
  }

  /* line 162, layout.scss */
  100.0% {
    background-color: #37474f;
  }
}

@-ms-keyframes logo-color {
  /* line 162, layout.scss */
  0% {
    background-color: #b9383c;
  }

  /* line 162, layout.scss */
  5.88235% {
    background-color: #ae215f;
  }

  /* line 162, layout.scss */
  11.76471% {
    background-color: #541c77;
  }

  /* line 162, layout.scss */
  17.64706% {
    background-color: #462d91;
  }

  /* line 162, layout.scss */
  23.52941% {
    background-color: #3c468e;
  }

  /* line 162, layout.scss */
  29.41176% {
    background-color: #276990;
  }

  /* line 162, layout.scss */
  35.29412% {
    background-color: #00838f;
  }

  /* line 162, layout.scss */
  41.17647% {
    background-color: #247369;
  }

  /* line 162, layout.scss */
  47.05882% {
    background-color: #3e9a3a;
  }

  /* line 162, layout.scss */
  52.94118% {
    background-color: #92b440;
  }

  /* line 162, layout.scss */
  58.82353% {
    background-color: #bbba24;
  }

  /* line 162, layout.scss */
  64.70588% {
    background-color: #f8bc28;
  }

  /* line 162, layout.scss */
  70.58824% {
    background-color: #ff8f00;
  }

  /* line 162, layout.scss */
  76.47059% {
    background-color: #ef6c00;
  }

  /* line 162, layout.scss */
  82.35294% {
    background-color: #d84315;
  }

  /* line 162, layout.scss */
  88.23529% {
    background-color: #4e342e;
  }

  /* line 162, layout.scss */
  94.11765% {
    background-color: #414040;
  }

  /* line 162, layout.scss */
  100.0% {
    background-color: #37474f;
  }
}

@-o-keyframes logo-color {
  /* line 162, layout.scss */
  0% {
    background-color: #b9383c;
  }

  /* line 162, layout.scss */
  5.88235% {
    background-color: #ae215f;
  }

  /* line 162, layout.scss */
  11.76471% {
    background-color: #541c77;
  }

  /* line 162, layout.scss */
  17.64706% {
    background-color: #462d91;
  }

  /* line 162, layout.scss */
  23.52941% {
    background-color: #3c468e;
  }

  /* line 162, layout.scss */
  29.41176% {
    background-color: #276990;
  }

  /* line 162, layout.scss */
  35.29412% {
    background-color: #00838f;
  }

  /* line 162, layout.scss */
  41.17647% {
    background-color: #247369;
  }

  /* line 162, layout.scss */
  47.05882% {
    background-color: #3e9a3a;
  }

  /* line 162, layout.scss */
  52.94118% {
    background-color: #92b440;
  }

  /* line 162, layout.scss */
  58.82353% {
    background-color: #bbba24;
  }

  /* line 162, layout.scss */
  64.70588% {
    background-color: #f8bc28;
  }

  /* line 162, layout.scss */
  70.58824% {
    background-color: #ff8f00;
  }

  /* line 162, layout.scss */
  76.47059% {
    background-color: #ef6c00;
  }

  /* line 162, layout.scss */
  82.35294% {
    background-color: #d84315;
  }

  /* line 162, layout.scss */
  88.23529% {
    background-color: #4e342e;
  }

  /* line 162, layout.scss */
  94.11765% {
    background-color: #414040;
  }

  /* line 162, layout.scss */
  100.0% {
    background-color: #37474f;
  }
}

@keyframes logo-color {
  /* line 162, layout.scss */
  0% {
    background-color: #b9383c;
  }

  /* line 162, layout.scss */
  5.88235% {
    background-color: #ae215f;
  }

  /* line 162, layout.scss */
  11.76471% {
    background-color: #541c77;
  }

  /* line 162, layout.scss */
  17.64706% {
    background-color: #462d91;
  }

  /* line 162, layout.scss */
  23.52941% {
    background-color: #3c468e;
  }

  /* line 162, layout.scss */
  29.41176% {
    background-color: #276990;
  }

  /* line 162, layout.scss */
  35.29412% {
    background-color: #00838f;
  }

  /* line 162, layout.scss */
  41.17647% {
    background-color: #247369;
  }

  /* line 162, layout.scss */
  47.05882% {
    background-color: #3e9a3a;
  }

  /* line 162, layout.scss */
  52.94118% {
    background-color: #92b440;
  }

  /* line 162, layout.scss */
  58.82353% {
    background-color: #bbba24;
  }

  /* line 162, layout.scss */
  64.70588% {
    background-color: #f8bc28;
  }

  /* line 162, layout.scss */
  70.58824% {
    background-color: #ff8f00;
  }

  /* line 162, layout.scss */
  76.47059% {
    background-color: #ef6c00;
  }

  /* line 162, layout.scss */
  82.35294% {
    background-color: #d84315;
  }

  /* line 162, layout.scss */
  88.23529% {
    background-color: #4e342e;
  }

  /* line 162, layout.scss */
  94.11765% {
    background-color: #414040;
  }

  /* line 162, layout.scss */
  100.0% {
    background-color: #37474f;
  }
}

@-webkit-keyframes nav-color {
  /* line 162, layout.scss */
  0% {
    color: #b9383c;
  }

  /* line 162, layout.scss */
  5.88235% {
    color: #ae215f;
  }

  /* line 162, layout.scss */
  11.76471% {
    color: #541c77;
  }

  /* line 162, layout.scss */
  17.64706% {
    color: #462d91;
  }

  /* line 162, layout.scss */
  23.52941% {
    color: #3c468e;
  }

  /* line 162, layout.scss */
  29.41176% {
    color: #276990;
  }

  /* line 162, layout.scss */
  35.29412% {
    color: #00838f;
  }

  /* line 162, layout.scss */
  41.17647% {
    color: #247369;
  }

  /* line 162, layout.scss */
  47.05882% {
    color: #3e9a3a;
  }

  /* line 162, layout.scss */
  52.94118% {
    color: #92b440;
  }

  /* line 162, layout.scss */
  58.82353% {
    color: #bbba24;
  }

  /* line 162, layout.scss */
  64.70588% {
    color: #f8bc28;
  }

  /* line 162, layout.scss */
  70.58824% {
    color: #ff8f00;
  }

  /* line 162, layout.scss */
  76.47059% {
    color: #ef6c00;
  }

  /* line 162, layout.scss */
  82.35294% {
    color: #d84315;
  }

  /* line 162, layout.scss */
  88.23529% {
    color: #4e342e;
  }

  /* line 162, layout.scss */
  94.11765% {
    color: #414040;
  }

  /* line 162, layout.scss */
  100.0% {
    color: #37474f;
  }
}

@-moz-keyframes nav-color {
  /* line 162, layout.scss */
  0% {
    color: #b9383c;
  }

  /* line 162, layout.scss */
  5.88235% {
    color: #ae215f;
  }

  /* line 162, layout.scss */
  11.76471% {
    color: #541c77;
  }

  /* line 162, layout.scss */
  17.64706% {
    color: #462d91;
  }

  /* line 162, layout.scss */
  23.52941% {
    color: #3c468e;
  }

  /* line 162, layout.scss */
  29.41176% {
    color: #276990;
  }

  /* line 162, layout.scss */
  35.29412% {
    color: #00838f;
  }

  /* line 162, layout.scss */
  41.17647% {
    color: #247369;
  }

  /* line 162, layout.scss */
  47.05882% {
    color: #3e9a3a;
  }

  /* line 162, layout.scss */
  52.94118% {
    color: #92b440;
  }

  /* line 162, layout.scss */
  58.82353% {
    color: #bbba24;
  }

  /* line 162, layout.scss */
  64.70588% {
    color: #f8bc28;
  }

  /* line 162, layout.scss */
  70.58824% {
    color: #ff8f00;
  }

  /* line 162, layout.scss */
  76.47059% {
    color: #ef6c00;
  }

  /* line 162, layout.scss */
  82.35294% {
    color: #d84315;
  }

  /* line 162, layout.scss */
  88.23529% {
    color: #4e342e;
  }

  /* line 162, layout.scss */
  94.11765% {
    color: #414040;
  }

  /* line 162, layout.scss */
  100.0% {
    color: #37474f;
  }
}

@-ms-keyframes nav-color {
  /* line 162, layout.scss */
  0% {
    color: #b9383c;
  }

  /* line 162, layout.scss */
  5.88235% {
    color: #ae215f;
  }

  /* line 162, layout.scss */
  11.76471% {
    color: #541c77;
  }

  /* line 162, layout.scss */
  17.64706% {
    color: #462d91;
  }

  /* line 162, layout.scss */
  23.52941% {
    color: #3c468e;
  }

  /* line 162, layout.scss */
  29.41176% {
    color: #276990;
  }

  /* line 162, layout.scss */
  35.29412% {
    color: #00838f;
  }

  /* line 162, layout.scss */
  41.17647% {
    color: #247369;
  }

  /* line 162, layout.scss */
  47.05882% {
    color: #3e9a3a;
  }

  /* line 162, layout.scss */
  52.94118% {
    color: #92b440;
  }

  /* line 162, layout.scss */
  58.82353% {
    color: #bbba24;
  }

  /* line 162, layout.scss */
  64.70588% {
    color: #f8bc28;
  }

  /* line 162, layout.scss */
  70.58824% {
    color: #ff8f00;
  }

  /* line 162, layout.scss */
  76.47059% {
    color: #ef6c00;
  }

  /* line 162, layout.scss */
  82.35294% {
    color: #d84315;
  }

  /* line 162, layout.scss */
  88.23529% {
    color: #4e342e;
  }

  /* line 162, layout.scss */
  94.11765% {
    color: #414040;
  }

  /* line 162, layout.scss */
  100.0% {
    color: #37474f;
  }
}

@-o-keyframes nav-color {
  /* line 162, layout.scss */
  0% {
    color: #b9383c;
  }

  /* line 162, layout.scss */
  5.88235% {
    color: #ae215f;
  }

  /* line 162, layout.scss */
  11.76471% {
    color: #541c77;
  }

  /* line 162, layout.scss */
  17.64706% {
    color: #462d91;
  }

  /* line 162, layout.scss */
  23.52941% {
    color: #3c468e;
  }

  /* line 162, layout.scss */
  29.41176% {
    color: #276990;
  }

  /* line 162, layout.scss */
  35.29412% {
    color: #00838f;
  }

  /* line 162, layout.scss */
  41.17647% {
    color: #247369;
  }

  /* line 162, layout.scss */
  47.05882% {
    color: #3e9a3a;
  }

  /* line 162, layout.scss */
  52.94118% {
    color: #92b440;
  }

  /* line 162, layout.scss */
  58.82353% {
    color: #bbba24;
  }

  /* line 162, layout.scss */
  64.70588% {
    color: #f8bc28;
  }

  /* line 162, layout.scss */
  70.58824% {
    color: #ff8f00;
  }

  /* line 162, layout.scss */
  76.47059% {
    color: #ef6c00;
  }

  /* line 162, layout.scss */
  82.35294% {
    color: #d84315;
  }

  /* line 162, layout.scss */
  88.23529% {
    color: #4e342e;
  }

  /* line 162, layout.scss */
  94.11765% {
    color: #414040;
  }

  /* line 162, layout.scss */
  100.0% {
    color: #37474f;
  }
}

@keyframes nav-color {
  /* line 162, layout.scss */
  0% {
    color: #b9383c;
  }

  /* line 162, layout.scss */
  5.88235% {
    color: #ae215f;
  }

  /* line 162, layout.scss */
  11.76471% {
    color: #541c77;
  }

  /* line 162, layout.scss */
  17.64706% {
    color: #462d91;
  }

  /* line 162, layout.scss */
  23.52941% {
    color: #3c468e;
  }

  /* line 162, layout.scss */
  29.41176% {
    color: #276990;
  }

  /* line 162, layout.scss */
  35.29412% {
    color: #00838f;
  }

  /* line 162, layout.scss */
  41.17647% {
    color: #247369;
  }

  /* line 162, layout.scss */
  47.05882% {
    color: #3e9a3a;
  }

  /* line 162, layout.scss */
  52.94118% {
    color: #92b440;
  }

  /* line 162, layout.scss */
  58.82353% {
    color: #bbba24;
  }

  /* line 162, layout.scss */
  64.70588% {
    color: #f8bc28;
  }

  /* line 162, layout.scss */
  70.58824% {
    color: #ff8f00;
  }

  /* line 162, layout.scss */
  76.47059% {
    color: #ef6c00;
  }

  /* line 162, layout.scss */
  82.35294% {
    color: #d84315;
  }

  /* line 162, layout.scss */
  88.23529% {
    color: #4e342e;
  }

  /* line 162, layout.scss */
  94.11765% {
    color: #414040;
  }

  /* line 162, layout.scss */
  100.0% {
    color: #37474f;
  }
}

/* line 174, layout.scss */
.app-landing {
  position: relative;
}

/* line 178, layout.scss */
header {
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100010;
  position: relative;
  padding: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
}
/* line 189, layout.scss */
header .header-wrapper {
  position: relative;
}
/* line 193, layout.scss */
header .social-link {
  position: absolute;
  bottom: -14px;
  right: 0;
}
/* line 199, layout.scss */
header .social-link ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 204, layout.scss */
header .social-link ul li {
  display: inline-block;
  margin: 5px;
  width: 53px;
  height: 53px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 212, layout.scss */
header .social-link ul li a {
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 216, layout.scss */
header .social-link ul li a:before {
  position: absolute;
  width: 44px;
  height: 44px;
  content: "";
  background: #7DF7ED;
  z-index: 1000;
  border-radius: 100%;
  opacity: 0;
  margin-left: 5px;
  margin-top: 4px;
}
/* line 230, layout.scss */
header .social-link ul li:hover, header .social-link ul li:focus {
  box-shadow: 0 4px 18px -7px rgba(0, 0, 0, 0.5);
}
/* line 234, layout.scss */
header .social-link ul li:hover a:before, header .social-link ul li:focus a:before {
  opacity: 0.3;
}
/* line 243, layout.scss */
header .logo {
  background: transparent url("../images/logo.png") no-repeat center;
  background-size: contain;
  z-index: 1;
  -webkit-animation: logo-color 20s infinite ease-in-out alternate-reverse;
  -moz-animation: logo-color 20s infinite ease-in-out alternate-reverse;
  -ms-animation: logo-color 20s infinite ease-in-out alternate-reverse;
  -o-animation: logo-color 20s infinite ease-in-out alternate-reverse;
  animation: logo-color 20s infinite ease-in-out alternate-reverse;
}
/* line 250, layout.scss */
header .menu-container {
  display: inline-block;
  margin-left: 30px;
}
/* line 257, layout.scss */
header nav input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* line 263, layout.scss */
header nav label {
  display: none;
  cursor: pointer;
  user-select: none;
}
/* line 269, layout.scss */
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 274, layout.scss */
header nav ul li {
  display: inline-block;
  padding: 5px;
  margin: 10px;
}
/* line 279, layout.scss */
header nav ul li > a {
  border: 0;
  display: block;
  color: #4C4A4A;
  border-bottom: transparent 3px solid;
  padding-bottom: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 287, layout.scss */
header nav ul li > a:hover, header nav ul li > a:focus, header nav ul li > a.selected {
  color: #0DBAC9;
  text-decoration: none;
  border-bottom-color: #4C4A4A;
  padding-bottom: 24px;
  -webkit-animation: nav-color 5s infinite ease-in-out alternate;
  -moz-animation: nav-color 5s infinite ease-in-out alternate;
  -ms-animation: nav-color 5s infinite ease-in-out alternate;
  -o-animation: nav-color 5s infinite ease-in-out alternate;
  animation: nav-color 5s infinite ease-in-out alternate;
}
/* line 298, layout.scss */
header nav .toggle-menu {
  overflow: hidden;
}
/* line 304, layout.scss */
header.header-collapse {
  height: 80px;
  padding: 10px;
}
/* line 308, layout.scss */
header.header-collapse .logo {
  width: 60px;
  height: 60px;
}
/* line 314, layout.scss */
header.header-collapse nav .toggle-menu {
  height: auto;
  margin: 0;
}
/* line 319, layout.scss */
header.header-collapse nav li {
  font-size: 20px;
  font-size: 1.25rem;
}
/* line 325, layout.scss */
header.header-collapse + .wrapper .container {
  padding-top: 80px;
}

@media (min-width: 1200px) {
  /* line 333, layout.scss */
  header {
    height: 135px;
    padding: 15px;
  }
  /* line 337, layout.scss */
  header .logo {
    width: 105px;
    height: 105px;
  }
  /* line 343, layout.scss */
  header nav .toggle-menu {
    height: auto !important;
    margin: 47px 0 0 0;
  }
  /* line 348, layout.scss */
  header nav li {
    font-size: 22px;
    font-size: 1.375rem;
  }

  /* line 354, layout.scss */
  .wrapper .container {
    padding-top: 135px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 362, layout.scss */
  header {
    height: 100px;
  }
  /* line 365, layout.scss */
  header .logo {
    width: 80px;
    height: 80px;
  }
  /* line 371, layout.scss */
  header nav .toggle-menu {
    height: auto !important;
    margin: 18px 0 0 0;
  }
  /* line 376, layout.scss */
  header nav li {
    font-size: 21px;
    font-size: 1.3125rem;
  }

  /* line 383, layout.scss */
  .wrapper .container {
    padding-top: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 390, layout.scss */
  header {
    height: 80px;
  }
  /* line 393, layout.scss */
  header .logo {
    width: 60px;
    height: 60px;
  }
  /* line 399, layout.scss */
  header nav .toggle-menu {
    height: auto !important;
  }
  /* line 403, layout.scss */
  header nav li {
    font-size: 20px;
    font-size: 1.25rem;
  }

  /* line 410, layout.scss */
  .wrapper .container {
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  /* line 417, layout.scss */
  header {
    height: 80px;
  }
  /* line 420, layout.scss */
  header .logo {
    width: 60px;
    height: 60px;
  }
  /* line 425, layout.scss */
  header .menu-container {
    display: block;
    margin: 0;
  }
  /* line 430, layout.scss */
  header .social-link {
    bottom: -39px;
  }
  /* line 434, layout.scss */
  header.header-collapse {
    height: auto;
    padding: 10px;
  }
  /* line 438, layout.scss */
  header.header-collapse .logo {
    width: 60px;
    height: 60px;
  }
  /* line 444, layout.scss */
  header.header-collapse nav .toggle-menu {
    height: 0;
  }
  /* line 448, layout.scss */
  header.header-collapse nav li {
    font-size: 20px;
    font-size: 1.25rem;
  }
  /* line 454, layout.scss */
  header nav {
    background: #fff;
  }
  /* line 457, layout.scss */
  header nav label {
    display: block;
  }
  /* line 460, layout.scss */
  header nav label:after {
    position: absolute;
    right: 11px;
    top: -18;
    content: "\2261";
    font-size: 51px;
    color: #4C4A4A;
  }
  /* line 470, layout.scss */
  header nav input[type=checkbox]:checked ~ label:after {
    -webkit-animation: nav-color 5s infinite ease-in-out alternate;
    -moz-animation: nav-color 5s infinite ease-in-out alternate;
    -ms-animation: nav-color 5s infinite ease-in-out alternate;
    -o-animation: nav-color 5s infinite ease-in-out alternate;
    animation: nav-color 5s infinite ease-in-out alternate;
  }
  /* line 474, layout.scss */
  header nav .toggle-menu {
    height: 0;
  }
  /* line 478, layout.scss */
  header nav ul {
    padding: 10px 12px;
    margin-top: 10px;
  }
  /* line 482, layout.scss */
  header nav ul li {
    display: block;
    margin: 12px 0;
    font-size: 20px;
    font-size: 1.25rem;
  }
  /* line 487, layout.scss */
  header nav ul li > a {
    border: 0;
    border-left: transparent 3px solid;
  }
  /* line 490, layout.scss */
  header nav ul li > a:hover, header nav ul li > a:focus, header nav ul li > a.selected {
    border-left-color: #4C4A4A;
    padding: 0 0 0 15px;
  }

  /* line 501, layout.scss */
  .wrapper .container {
    padding-top: 80px;
  }
}
/* line 507, layout.scss */
body {
  font-family: 'Roboto';
  font-weight: 400;
  background: #fff;
}
/* line 513, layout.scss */
body.codehard-index .container {
  width: 100%;
}

/* line 520, layout.scss */
.wrapper .container {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}
